In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("D:\DATA for ANALYSIS\London Bike Sharing\london_bikes.csv")
df.head()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [4]:
#explore the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [5]:
# count the unique values in the weather_code column
df.weather_code.value_counts()

weather_code
1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: count, dtype: int64

In [6]:
# count the unique values in the season column
df.season.value_counts()

season
0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: count, dtype: int64

In [7]:
# putting the column names that i want to use

col_dict = {
    "timestamp" : "time",
    "cnt" : "count",
    "t1" : "temp_real_c", 
    "t2" : "temp_feels_like_c",
    "hum" : "humidity_percent",
    "wind_speed" : "wind_speed_kph", 
    "weather_code" : "weather", 
    "is_holiday" : "is_holiday", 
    "is_weekend" : "is_weekend", 
    "season" : "season",
}

# renaming the column names with the specified dict
df.rename(col_dict, axis=1, inplace= True)

In [8]:
df.head()

,time,count,temp_real_c,temp_feels_like_c,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [9]:
# changing the humidity percent to values(i.e. a value between 0 and 1)
df.humidity_percent = df.humidity_percent / 100

In [10]:
# creating the season dictionary to map the numbers from 0-3 to the actual seasons

season_dict = {
    "0.0" : "spring", 
    "1.0" : "summer", 
    "2.0" : "autumn", 
    "3.0" : "winter" 
}

# creating the weather dictionary so that we can map the values to actual weather
weather_dict = {
    "1.0" : "clear", 
    "2.0" : "scattered clouds", 
    "3.0" : "broken clouds", 
    "7.0" : "cloudy", 
    "4.0" : "Rain", 
    "10.0" : "Rain with thunderstorm", 
    "26.0" : "snowfall" 
}

In [11]:
# changing the data type of season column to string
df.season = df.season.astype("str")

# mapping the values to the atucal season
df.season = df.season.map(season_dict)

# # changing the data type of weather column to string
df.weather = df.weather.astype('str')

# mapping the weather codes to the actual weather names
df.weather = df.weather.map(weather_dict)

In [12]:
# checking the dataframe for the changed columns 
df.head()

,time,count,temp_real_c,temp_feels_like_c,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,broken clouds,0.0,1.0,winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,clear,0.0,1.0,winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,clear,0.0,1.0,winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,clear,0.0,1.0,winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,clear,0.0,1.0,winter

In [15]:
#storing the dataframe into excel workbook for further visualizations
from openpyxl import Workbook
df.to_excel('london_bikes_vizready.xlsx', sheet_name="Data", index=False)